{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-around align-items-center" style="height: 100vh; margin: 0px">
  <div class="text-center">
    <h2>Log in</h2>
    <form method="POST">
      {% csrf_token %}
      <p>
        <input id="id_username" class="form-control" type="text" name="username" placeholder="Имя пользователя"
          required="" autofocus="">
      </p>
      <p>
        <input id="id_password" class="form-control" type="password" name="password" placeholder="Пароль" required="">
      </p>
      <p>
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </p>
    </form>
    <p>
      <div class="row justify-content-between">
        <div class="col">
          <a href="{% url 'authapp:register'%}"><small>Sign up</small></a>
        </div>
        <div class="col">
          <a href="#"><small>Forgot a password?</small></a>
        </div>
      </div>
    </p>
    <h4>Sign up through the social networks</h4>
    <p>
      <div class="btn-group btn-block" role="group">
        <a class="btn btn-primary" href="{% url 'social:begin' 'github' %}" role="button"><i class="fab fa-github"></i></a>
        <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}" role="button"><i class="fab fa-facebook"></i></a>
      </div>
    </p>
  </div>
</div>
{% endblock %}