{% extends 'mainapp/base.html' %}
{% block content %}
<div class="row justify-content-center pt-3">
<div class="col-md-8 col-lg-6">
<h2>Delete?</h2>
<p>
<div class="row">
<div class="col-6">
<form action="{% url 'mainapp:mycourse_delete' pk=object.pk %}"
method="post">
{% csrf_token %}
<button class="btn btn-danger btn-block"
type="submit">Confirm</button>
</form>
</div>
<div class="col-6">
<a class="btn btn-primary btn-block" href="{% url 'mainapp:my_courses' %}"
role="button">Cancel</a>
</div>
</div>
</p>
</div>
</div>
{% endblock content %}